{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1> alo alo</h1>
{% else %}
<h1>Đăng nhập</h1>
<form id="login-form" class="form" action="{{ url_for('admin_dangNhap') }}" method="post">
     <h3 class="text-center text-info">Login</h3>
           <div class="form-group">
               <label for="username" class="text-info">Username:</label><br>
               <input type="text" name="tenDangNhap" id="username" class="form-control">
           </div>
        <div class="form-group">
            <label for="password" class="text-info">Password:</label><br>
            <input type="text" name="matKhau" id="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
        </div>
        <div id="register-link" class="text-right">
            <a href="#" class="text-info">Register here</a>
        </div>
</form>
{% endif %}
{% endblock %}