{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1> xin chào <span class="text-danger">{{ current_user.username }}</span> </h1>
<h2> đây là trang quản trị</h2>

{% else %}

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h2 class="card-header text-center">Đăng nhập quản trị</h2>
                    <div class="card-body">
                        <form name="my-form" method="post" action="{{ url_for('admin_login') }}">
                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">Tên đăng
                                    nhập: </label>
                                <div class="col-md-6">
                                    <input type="text" id="user_name" class="form-control" name="username" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Mật khẩu: </label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Đăng nhập
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}