{% extends 'admin/base.html' %}

{% block body %}
<h1 class="text-center text-danger">Thống kê</h1>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <tr>
                <th>STT</th>
                <th>Tên lớp</th>
                <th>Sỉ số</th>
                <th>Số lượng đạt</th>
                <th>Tỷ lệ</th>
            </tr>
            {% for s in stats %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
                <td>{{ (s[2] / s[1]) * 100 }} %</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <form action="/admin/statsview">
            <div class="form-group">
                <input type="text" class="form-control" name="year" placeholder="Nhập năm"/>
            </div>

            <div class="form-group">
                <select class="form-control" name="semester">
                    {% for se in semesters %}
                    <option value="{{ se.id }}">{{ se.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" name="subject">
                    {% for s in subjects %}
                    <option value="{{ s.id }}">{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="submit" value="Thống kê" class="btn btn-success"/>
        </form>

        <canvas id="myClassChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let labels = [], labels2 = []
    let data = []
    let colors = [], colors2 = []
    let borderColors = [], borderColors2 = []
    let r, g, b;

    {% for s in stats %}
        {% if s[2] %}
            labels.push('{{ s[0] }}')
            data.push({{ s[2] }})

            r = Math.random()*255
            g = Math.random()*255
            b = Math.random()*255

            colors.push(`rgba(${r}, ${g}, ${b}, 0.2)`)
            borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
        {% endif %}
    {% endfor %}

    window.onload = function() {
        const ctx = document.getElementById('myClassChart').getContext('2d');
        displayChart(ctx, 'bar', labels, data, colors, borderColors)
    }

    function displayChart(ctx, typeChart, labels, data, colors, borderColors) {
        const myChart = new Chart(ctx, {
            type: typeChart,
            data: {
                labels: labels,
                datasets: [{
                    label: 'Thống kê tổng kết môn học',
                    data: data,
                    backgroundColor: colors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }


</script>
{% endblock %}