{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<div class="banner">
    <div class="home-text-wrapper">
        <div class="home-message">
            <p>HỆ THỐNG HỖ TRỢ QUẢN LÝ HỌC SINH</p>
            <small>
                LT-EDU là sự lựa chọn lý tưởng cho tổ chức, doanh nghiệp của bạn
                và hệ thống giáo dục trực tuyến của bạn. Tạo khóa học trực tuyến của bạn ngay bây giờ
                với các mẫu trang, tùy chọn màu và menu không giới hạn
                Tính năng, đặc điểm.
            </small>
        </div>
    </div>
</div>

{% endblock %}