{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<h1 class="text-center text-info">Đăng nhập người dùng</h1>

{% if error_msg %}
<div class="alert alert-danger">
    {{ error_msg }}
</div>
{% endif %}


<form method="post">
    <div class="form-group">
       <label for="username">Username</label>
       <input type="text" name="username" class="form-control"
              id="username" placeholder="Nhap username..." required />
   </div>
    <div class="form-group">
       <label for="password">Mat khau</label>
       <input type="password"
              name="password"
              class="form-control"
              id="password"
              placeholder="Nhap mat khau..." required />
   </div>
    <input type="submit" value="Dang nhap" class="btn btn-danger" />
</form>
<br><br>
{% endblock %}