<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        LT-EDU
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item {% if 'category_id' not in request.args %}active{% endif %}">
                <a class="nav-link" href="/">Trang chủ</a>
            </li>
            {% for c in categories %}
            <li class="nav-item {% if 'category_id' in request.args and request.args.category_id|int==c.id %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('home', category_id=c.id) }}">{{ c.name }}</a>
            </li>
            {% endfor %}

            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for('add_student') }}">Nhân viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ url_for('logout') }}">Đăng xuất</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link text-success" href="{{ url_for('login') }}">Đăng nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{ url_for('register') }}">Đăng ký</a>
            </li>

            {% endif %}

        </ul>
    </div>

</nav>